@import url('./reset.css');

html {
    color: rgb(246 247 249);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(35 39 47);
}

h1 {
    margin-bottom: 1rem;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0px 20px;
}

/* Map */

.map-name {
    display: flex;
    align-items: center;
    padding: 6px;

    background-color: rgb(255 255 255/0.05);
    border: 1px solid rgb(255 255 255/0.1);
    border-radius: 4px;

    text-transform: capitalize;
}

.map-name img {
    width: 70px;
    margin-right: 8px;

    object-fit: fill;
}

.map-areas {
    margin-left: 10px;
}

.map-area {
    margin: 20px 0;
}

.map-area-name {
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* Nade */

.nade {
    padding: 10px;
}

.nade-name {
    cursor: pointer;
    text-transform: capitalize;
}

.nade-name:hover {
    color: rgb(20 158 202);
}

.nade-name-active {
    color: rgb(20 158 202);
}

.nade-actions {
    display: flex;
    flex-wrap: wrap;
}

/* Nade img */

.nade-img {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 8px;

    cursor: pointer;
}

.nade-img:hover {
    background-color: rgba(255 255 255/0.05);
}

.nade-img-meta {
    padding: 6px 0 0;
    font-size: 0.8rem;
}

.nade-img img {
    width: 200px;
}

.nade-img img.active {
    width: 100%;
    height: 100%;
}
